Binaries/
Build/
Build_StandaloneGame/
DerivedDataCache/
Intermediate/
Saved/

.vs/
*.sln
*.suo
*.xcodeproj
*.xcworkspace

*.target
CrashReportClient/
.p4ignore

!/Build/*_Build/
!/Build/**/*.exe
!/Build/**/*.pak
!/Build_StandaloneGame/